---
---

@import "normalize";
@import "skeleton";


//syntax highlighting
@import "syntax";

@import "mixins";

@import "font-awesome/font-awesome";


h1, h2, h3, h4, h5, h6, p {
	color: #111;
	padding: 0 20px;
}

html body {
	padding: 0;
	margin: 0;
	background-color: $primary-color-lightest;
	width: 100%;
}

header,
footer {
	h1, h2, h3, h4, h5, h6, p {
		color: #e0e0e0;
	}

	background-color: #455a64;
	padding: 0;
	margin: 0;
}


//Lists
$base-line-height: 0.5;
$base-spacing: $base-line-height * 1em;
ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}



.default-container {

	margin: 0 auto;
	//@include pad(20px 20px 20px 20px);

	.comments-divider {
		max-width: 300px;
	}

	#disqus_thread {
		padding: 0 30px 20px;
	}

	.post-content {
		img {
			max-width: 800px;
			text-align: center;
			@include ambient-shadow(rgba(0,0,0,0.5));
		}
	}

	.main-container {
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	@import "header-style";

	@import "index-style";
	//@import "blog-style";
	@import "projects-style";
	//@import "resume-style";
	@import "contact-style";

	@import "footer-style";
}
