---
---

@import "normalize";
@import "skeleton";


//syntax highlighting
@import "syntax";


h1, h2, h3, h4, h5, h6, p {
	color: #E0E0E0;
}

html body {
	padding: 0;
	margin: 0;
	background-color: #546E7A;
}

a { 
	color: #ff80ab;
	text-decoration: none;
}
a:hover { color: #ff4081; }

.default-container {
	max-width: 950px;
	margin: 0 auto;
	//@include pad(20px 20px 20px 20px);

	.main-header,
	.main-container,
	.main-footer {
		//@include row();
	}

	.main-header {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.main-container {
		@import "index-style";
	}

	.main-footer {
		//@import "footer-style";
	}
}