---
---

@import "normalize";
@import "skeleton";


//syntax highlighting
@import "syntax";

@import "mixins";


h1, h2, h3, h4, h5, h6, p {
	color: #111;
	padding: 0 20px;
}

html body {
	padding: 0;
	margin: 0;
	background-color: #eceff1;
	width: 100%;
}

header,
footer {
	h1, h2, h3, h4, h5, h6, p {
		color: #e0e0e0;
	}

	background-color: #455a64;
	padding: 0;
	margin: 0;
}

a { 
	color: #ff4081;
	text-decoration: none;
}


//Lists
$base-line-height: 0.5;
$base-spacing: $base-line-height * 1em;
ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;

	&%default-ul {
		list-style-type: disc;
		margin-bottom: $base-spacing / 2;
		padding-left: $base-spacing;
	}

	&%default-ol {
		list-style-type: decimal;
		margin-bottom: $base-spacing / 2;
		padding-left: $base-spacing;
	}
}

dl {
	margin-bottom: $base-spacing / 2;

	dt {
		font-weight: bold;
		margin-top: $base-spacing / 2;
	}

	dd {
		margin: 0;
	}
}



a:hover { color: #f50057; }

.default-container {

	margin: 0 auto;
	//@include pad(20px 20px 20px 20px);

	.main-header,
	.main-container,
	.main-footer {
		//@include row();
	}

	@import "header-style";

	.main-container {
		@import "index-style";
	}

	@import "footer-style";
}