---
layout: default
---

<div class="home">
  <div class="container">
    <section class="row bio-container">
      <div class="bio-image-container one-third column">
        <img src="/images/profile.jpeg" alt="My face." class="bio-image" />
      </div>
      <div class="bio-text-container two-thirds column">
        <h2 class="bio-header">About the Author</h2>
        <p class="bio-text">
          Hello, I'm Kamran and this is my portfolio and blog website. It's where I share all the stuff I make. I'm a software developer and design enthusiast that's really
          into the ever-evolving art medium of games. I'm also a hobbyist writer, artist, musician, home cook, volunteer, game designer, and rubick's cube solver. You can
          find the things I make here from art to code. You can also find me on twitter <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>.
        </p>
      </div>
    </section>
  </div>
  <div class="container">
    <section class="latest-container">
      <div class="row">
        <h3 class="blog-title u-text-center">Latest Projects</h3>
        <ul class="projects-container">
          {% for post in site.categories.projects limit:4 %}<li class="project" style="background-image: url({{post.image}});">
              <div class="project-action">
                <h5 class="project-title">{{ post.short-title }}</h5>
                <a href="{{ post.url }}" class="button">View</a>
              </div></li>{% endfor %}
        </ul>
      </div>
    </section>
  </div>
  <div class="container">
    <section class="latest-art-container">
      {% for post in site.categories.art limit:1 %}
        <div class="row">
          <h3 class="blog-title u-text-center">Newest Art</h3>
          <div class="art-panel" style="background-image: url({{post.image}});">
            <a href="{{ post.url }}">
              <div class="art-action">
                <h2 class="art-title">{{ post.short-title }}</h2>
                <!-- <p>{{ post.excerpt }}</p> -->
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
  <div class="container">
    <section class="latest-posts-container">
      <h3 class="blog-title u-text-center">Light Reading</h3>
      <ul class="posts-container">
        {% for post in site.categories.blog limit:3 %}
          <li class="frontpage-post row">
            <div class="post-block">
              <div class="three columns">
                <div class="post-title"><h5>{{ post.title }}</h5><p class="post-date">{{ post.date | date: '%B %d, %Y' }}</p></div>
              </div>
              <div class="nine columns post-excerpt">
                {{ post.excerpt }}
                <a href="{{ post.url }}" class="post-link">Continue Reading &rarr;</a>
              </div>
            </div>
          </li>
          <br>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
