<footer class="main-footer">
	<div class="footer">
		<div class="footer-logo">
			<img src="/images/kplogo80_white.png" alt="Logo image">
		</div>
		<div class="section values">
			<div class="container">
				<div class="row">
					<div class="one-third column value">
						<h4 class="value-multiplier">67%</h2>
						<h5 class="value-heading">Purchase Increase</h5>
						<p class="value-description">This text is just a placeholder</p>
					</div>
					<div class="one-third column value">
						<h4 class="value-multiplier">90%</h2>
						<h5 class="value-heading">Multi-device Users</h5>
						<p class="value-description">oh my gosh placeholder text</p>
					</div>
					<div class="one-third column value">
						<h4 class="value-multiplier">Socialize</h4>
						<p class="value-description">
						Here's some relevant stuff
						<!--
							<ul>
								<li>Twitter</a></li>
								<li>Google+</a></li>
								<li>Email Me</li>
							</ul>
						-->
						</p>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<p class="copyright">Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
	</div>
</footer>