<footer class="main-footer">
  <div class="footer">
    <div class="footer-logo">
      <img src="/images/kplogo80_white.png" alt="Logo image">
    </div>
    <div class="section values">
      <div class="container">
        <div class="row">
          <div class="one-third column value">
            <h4 class="value-multiplier">Read Stuff!</h4>
            <p class="value-description">Aww what? Placeholder text? Sorry man.</p>
          </div>
          <div class="one-third column value">
            <h4 class="value-multiplier">Be My Friend!</h4>
            <p class="value-description">
            <!--  <button class="twitter button-primary"><i class="fa fa-twitter"></i> @KamranPayne</button>
              <button class="google-plus button-primary"><i class="fa fa-google-plus"></i> +Kamran</button>
              <button class="button-primary"><i class="fa fa-envelope"></i> Email Me</button> -->
              <a href="https://twitter.com/kamranpayne">Twitter</a><br/>
              <a href="https://plus.google.com/103628236655675054899">Google+</a><br/>
              <a href="https://github.com/kmrn/">GitHub</a></br/>
              <a href="mailto:hello@kamranpayne.com">Email Me</a><br/>
            </p>
          </div>
          <div class="one-third column value">
            <h4 class="value-multiplier">Code Stuff!</h4>
            <p class="value-description">
              This website is hosted on GitHub!
              <br /><br />
              <a class="button button-primary" href="https://github.com/kmrn/kmrn.github.io">View Source</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr id="footer-divider">
    <p class="copyright">
      You're at the bottom of the page. Yay for you!<br>
      &copy;{{ site.time | date: "%Y" }} Kamran Payne
    </p>
  </div>
</footer>
