<footer class="main-footer">
  <div class="footer">
    <div class="section values">
      <div class="container">
        <div class="row">
          <div class="footer-border">
            <div class="one-third column u-text-center value">
              <h4 class="value-multiplier">Read Stuff</h4>
              <p class="value-description">
                <a href="http://wantondrifter.com">Wanton Drifter</a>
              </p>
            </div>
            <div class="one-third column u-text-center value">
              <h4 class="value-multiplier">Be My Friend</h4>
              <p class="value-description">
                <a href="https://twitter.com/kamranpayne">Twitter</a><br/>
                <a href="https://plus.google.com/103628236655675054899">Google+</a><br/>
                <a href="https://github.com/kmrn/">GitHub</a></br/>
                <a href="mailto:hello@kamranpayne.com">Email Me</a><br/>
              </p>
            </div>
            <div class="one-third column u-text-center value">
              <h4 class="value-multiplier">Code Stuff</h4>
              <p class="value-description">
                This website is hosted on GitHub!
                <br /><br />
                <a class="button button-primary" href="https://github.com/kmrn/kmrn.github.io">View Source</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-logo">
      
      <svg width="124px" height="162px" viewBox="0 0 124 162" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs>
              <polygon id="path-1" points="0.2734375 0 18.9890552 0 18.9890552 43.7109375 19.5671438 43.7109375 42.2571205 0 62.2734375 0 35.753624 46.9335938 62.2734375 100.078125 42.2571205 100.078125 19.5671438 52.4414062 18.9890552 52.4414062 18.9890552 100.078125 0.2734375 100.078125"></polygon>
              <filter x="-2.4%" y="-1.5%" width="104.8%" height="103.0%" filterUnits="objectBoundingBox" id="filter-2">
                  <feGaussianBlur stdDeviation="1" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
                  <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                  <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                  <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
              </filter>
              <path d="M62,0 L82.4300254,0 C85.0067983,0 87.833318,0.0878897461 90.9096692,0.263671875 C93.9860205,0.439454004 97.0623256,0.849606152 100.138677,1.49414062 C103.215028,2.1386751 106.18616,3.12499336 109.052163,4.453125 C111.918165,5.78125664 114.45546,7.5878792 116.664122,9.87304688 C118.872785,12.1582146 120.647576,15.0195141 121.98855,18.4570312 C123.329523,21.8945484 124,26.0741941 124,30.9960938 L124,34.5117188 C124,39.863308 123.38211,44.4433403 122.14631,48.2519531 C120.910511,52.0605659 119.267186,55.2636589 117.216285,57.8613281 C115.165384,60.4589974 112.785849,62.5390547 110.077608,64.1015625 C107.369367,65.6640703 104.555994,66.8456991 101.637405,67.6464844 C98.7188149,68.4472696 95.7739758,68.9746081 92.802799,69.2285156 C89.8316221,69.4824231 87.0313957,69.609375 84.4020356,69.609375 L82.4300254,69.609375 L82.4300254,161.8692 L62,161.8692 L62,0 Z" id="path-3"></path>
              <filter x="-2.4%" y="-0.9%" width="104.8%" height="101.9%" filterUnits="objectBoundingBox" id="filter-4">
                  <feGaussianBlur stdDeviation="1" in="SourceAlpha" result="shadowBlurInner1"></feGaussianBlur>
                  <feOffset dx="0" dy="1" in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                  <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                  <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowInnerInner1"></feColorMatrix>
              </filter>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="KP">
                  <use fill="#FAFAFA" fill-rule="evenodd" xlink:href="#path-1"></use>
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
              </g>
              <g id="Combined-Shape">
                  <use fill="#FAFAFA" fill-rule="evenodd" xlink:href="#path-3"></use>
                  <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
              </g>
          </g>
      </svg>
      <!-- <img src="/images/kplogo80_white.png" alt="Logo image"> -->
    </div>
    <!-- <hr id="footer-divider">
    <p class="copyright">
      You're at the bottom of the page. Yay for you!<br>
      {{ site.time | date: "%Y" }}
    </p> -->
  </div>
</footer>
