<div class="site-header-container">
  <header class="site-header">
    <div class="container">
      <div class="row">
        <div class="site-title">
          <h1><a class="site-title-link" href="{{ site.baseurl }}/">KAMRAN <span class="gray">LEE</span> PAYNE</a></h1>
        </div>
      </div>
      <div class="row">
        <nav class="site-nav">
          <div class="trigger">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <a class="page-link {% cycle 'gray', 'black' %} {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </nav>
        <p class="u-pull-right">Programmer. Artist. Cool Guy.
      </div>
    </div>
  </header>
</div>
