//_contact-style.scss
//styles for /contact/ go here

.contact-container {

  .form-wrapper {

    padding: 0 2.5%;

    .contact-form-container {
      @include ambient-shadow($primary-color-light);
      padding-top: 20px;
      padding-bottom: 1px;
      background-color: #f9f9f9;
      background-color: rgba($primary-color-medium, 0.2);


      .contact-form {

        padding: 0 20px;

        

        .contact-send-yourself-copy {
          float: right;
        }

        .button-primary {
          @include surface-shadow($accent-color-darkest);
        }
      }
    }
  }
}