.main-footer {

	@include ambient-shadow();

	.footer-logo {
		margin: 0 auto;
		text-align: center;
		padding-bottom: 20px;
	}

	.values {
	  background-image: url('../images/values-bg.jpg');
	  background-size: cover;
	  color: #fff;
	  //padding-bottom: 20px;
	}

	.value-multiplier {
	  margin-bottom: .5rem;
	  color: #263238;
	  //color: #BOBEC5;
	}

	.value-heading {
	  margin-bottom: .3rem;
	}

	.value-description,
	.value-description li {
	  opacity: .8;
	  font-weight: 300;
	}

	.footer {
		padding: 50px 20px;
	}

	.copyright {
		text-align: center;
	}
}