.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}

.value-heading {
  margin-bottom: .3rem;
}

.value-description {
  opacity: .8;
  font-weight: 300;
}

.footer {
	padding: 50px 20px;
}

.copyright {
	text-align: center;
}