//_index-style.scss
//styles for index.html go here

.bio-container {
	@include span-columns(12);

	.bio-photo-container {
		@include span-columns(3 of 12);

		.bio-photo {
			background-image: url(http://placehold.it/300);
		}
	}

	.bio-text-container {
		@include span-columns(9 of 12);
	}
}

.posts-container {
	.posts {
		padding-left: 40px;

		.post-link-entry {
			.post-link {
				vertical-align: middle;
			}
			.link-divider {
				vertical-align: middle;
				font-size: 150%;
			}
		}
	}
}