//_index-style.scss
//styles for index.html go here

.main-container {

	.bio-container {

		.bio-image-container {

			.bio-image {
				background-image: url(http://placehold.it/300);
			}
		}

		.bio-text-container {
			.bio-text {
				text-align: center;
			}
		}
	}

	.posts-container {

		.posts {
			padding-left: 40px;

			.post-link-entry {
				.post-link {
					vertical-align: middle;
				}
				.link-divider {
					vertical-align: middle;
					font-size: 150%;
				}
			}
		}
	}
}