//_index-style.scss
//styles for index.html go here

.main-container {

  .bio-container {
    padding-bottom: 30px;

    .bio-image-container {
      text-align: center;
      padding-bottom: 30px;

      .bio-image {
        margin: 0 auto;

        background-color: $accent-color;
        height: 200px;
        width: 200px;

        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;

        @include key-shadow($primary-color-light);
      }
    }

    .bio-text-container {
      .bio-header {
        padding: 0 2.5%;
      }

      .bio-text {
        // text-align: center;
      }
    }
  }

  .divider {
    width: 80%;
    padding-bottom: 20px;
  }

  .latest-container {
    padding-bottom: 20px;

    .projects-container {
      //margin: 0 auto;
      @media not -webkit-device-pixel-ratio {
          //margin-left: 17px;
        }

      @media (max-width: 549px) {
        margin: 0;
      }
      @include ambient-shadow(#a5a5a5);

      .projects-container li {
        display: inline;
        list-style: none;
        padding: 0;
        margin: 0;
        //max-width: 100%;
        font-size: 0;
      }

      .project {

        width: 50%;
        height: 50vw;
        background-size: cover;

        @media not -webkit-device-pixel-ratio {
          //margin-right: 17px;
        }

        @media (min-width: 750px) {
          width: 25%;
          height: 25vw;
          @include calc(min-width, '25% - 4.25px');
        }

        max-height: 250px;
        margin-bottom: 0;
        display: inline-block;
        font-size: 0;
        text-align: center;
        vertical-align: middle;
        position: relative;

        vertical-align: middle;
      }

      .project-action {
        height: 100%;
        width: 100%;
        background-color: rgba($primary-color-darkest, 0.7);
        position: relaitve;

        .project-title { padding-top: 40px; }

        .project-title,
        .button {
          vertical-align: middle;
          color: #fff;

          &:hover {
            @extend .button-primary;
            transition: all 0.15s ease-in;
            -ms-transition: all 0.15s ease-in;
            -moz-transition: all 0.15s ease-in;
            -webkit-transition: all 0.15s ease-in;
          }
        }
      }

      .project-action:hover {

      }

      // .overlay {
      //   position: relative;
      // }

      // .overlay:before {
      //  position: absolute;
      //  content:" ";
      //  top:0;
      //  left:0;
      //  width:100%;
      //  height:100%;
      //  display: none;
      //  z-index:0;
      //  background-color: rgba($accent-color, 0.4);

      // }

      // .overlay:hover:before {
      //  display: block;
      // }

      //.project .overlay .project-action .project-title .button { position: relative; }
    }
  }

  .posts-container {

    .frontpage-post {
      padding: 0 2.5%;

      .post-block {
        @include small-shadow(rgba(0,0,0,0.3));
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #f9f9f9;
        background-color: rgba($primary-color-medium, 0.2);
        text-align: justify;
        margin-bottom: -20px;

        .post-title {
          //margin-bottom: -20px;
          margin-bottom: 10px;

          h4 {
            margin-top: -25px;
          }

          .post-date {
            opacity: 0.7;
          }
        }



        .button {
          margin-top: 5px;
          margin-left: 20px;
          @include surface-shadow($accent-color-darkest);
        }
      }
    }

    .posts {
      padding-left: 40px;
    }
  }
}
