
/***
General Layout
***/

body {
  background: #fafafa;
}


article img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: "Inconsolata", 'Courier New', Courier, monospace;
}

a {
  color: #2a52be;
}
a:hover {
  color: #0c2c7c;
}


/***
Header
***/

.site-title {
  padding-top: 40px;
}

// .site-nav {
//   font-family: "Inconsolata", sans-serif;
//   font-size: 3.0rem;
//   margin-top: -60px;
//   padding-bottom: 10px;
//   border-bottom: #999 dashed 1px;
//   margin-bottom: 5px;

//   .page-link {
//     margin-right: 20px;
//   }
// }

// .active {
//   text-decoration: underline;
// }



/***
Index
***/

.contact-details {
  padding-left: 15px;
}

.post-content {
  img {
    display: block;
    margin: 0 auto;
    @include small-shadow(rgba(0, 0, 0, 0.2));
  }
}

.frontpage-post {
  list-style: none;
}

.row {
  padding: 0 15px;
}

/***
Footer
***/

.footer-border {
  border-top: #999 dashed 1px;
  padding-top: 40px;
}

.footer-logo {
  svg {
    display: block;
    margin: auto;
  }

  margin-bottom: 100px;
}
