//Shadows
@mixin ambient-shadow($color) {
	-webkit-box-shadow: 0 0 5px 2px $color;
	-moz-box-shadow: 0 0 5px 2px $color;
	box-shadow: 0 0 5px 2px $color;
}

@mixin key-shadow($color) {
	-webkit-box-shadow: 0 5px 10px 5px $color;
	-moz-box-shadow: 0 5px 10px 5px $color;
	box-shadow: 0 5px 10px 5px $color;
}