.resume-page-container {

  .resume-container {

    margin: 0 2.5%;

    .resume-paper {
      padding: 0 10px;
      padding-top: 20px;
      @include ambient-shadow($primary-color-medium);
      background-color: #f9f9f9;

      .resume-education {

      }

      .resume-work {

      }

      .resume-extra {

      }

      .resume-volunteer {

      }
    }
  }
}